/*
//Variables

//Color pointers
@nav-bg: @wild-sand;

//Color Vars
@wild-sand: #F6F6F6;

*/
/*
//Mixins

.flex-width-mixin {
    display: flex;
    width: 100%;
}

.button(@buttoncolor,@textcolor){
    background: @buttoncolor;
    color: @textcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 2% 4%;
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 5px;
}

.phone-width-margin {
    width: 95%;
    margin-left: 2%;
}

*/
/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/* Your code starts here! */
.container {
  width: 100%;
  background: black;
  /* TB LR */
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}
/* header */
header {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  width: 100%;
  align-items: center;
  border-bottom: 0.5rem solid lightsalmon;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-right: 0%;
    text-align: center;
  }
}
header nav a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
@media (max-width: 500px) {
  header nav a {
    margin-right: 0%;
    width: 100%;
    padding: 3% 2%;
    box-sizing: border-box;
  }
}
header nav a:hover {
  text-decoration: none;
  color: lightsalmon;
}
header img {
  margin: 0% 0% 0% 4%;
  max-width: 6%;
}
@media (max-width: 500px) {
  header img {
    display: none;
  }
}
/* cta */
.cta {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.5rem solid lightgray;
}
@media (max-width: 500px) {
  .cta {
    max-width: 100%;
    flex-direction: column;
  }
}
.cta .cta-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0% 8%;
  align-items: center;
}
@media (max-width: 500px) {
  .cta .cta-text {
    max-width: 100%;
    padding: 6% 1% 4% 1%;
  }
}
.cta .cta-text h2 {
  color: white;
  font-size: 5.5rem;
}
@media (max-width: 500px) {
  .cta .cta-text h2 {
    max-width: 100%;
    align: center;
    font-size: 2.5rem;
  }
}
.cta .cta-text h3 {
  color: lightsalmon;
  font-size: 4.5rem;
  margin-top: 6%;
}
@media (max-width: 500px) {
  .cta .cta-text h3 {
    max-width: 100%;
    align: center;
    font-size: 2rem;
  }
}
.cta .cta-text button {
  background: lightgray;
  vertical-align: top;
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 3% 5%;
  width: 60%;
  font-size: 2rem;
  border: 0.5rem double lightsalmon;
  cursor: pointer;
}
@media (max-width: 500px) {
  .cta .cta-text button {
    width: 25%;
    font-size: 1rem;
    margin-top: 5%;
    border: 0.25rem double lightsalmon;
  }
}
.cta .cta-text button:hover {
  background: lightsalmon;
  color: black;
  border: 0.5rem double white;
}
.cta img {
  margin: 10% 10% 10% 0%;
  width: 40%;
  border: 0.6rem double lightgray;
}
@media (max-width: 500px) {
  .cta img {
    width: 100%;
    margin-left: 10%;
    margin-top: 0%;
    border: 0.25rem double lightgray;
  }
}
.main-content {
  max-width: 100%;
  margin-top: 0;
  padding-top: 0;
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.main-content .text-content {
  max-width: 100%;
  text-align: center;
}
.main-content .text-content h2 {
  max-width: 100%;
  font-size: 3.5rem;
  padding: 2% 0%;
  margin-top: 2%;
  /*@media @phone {
            
        } */
}
.main-content .text-content h5 {
  max-width: 100%;
  font-size: 2rem;
  padding-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0% 5%;
}
