/* header */

header {
    display: flex;
    flex-direction: row;
    background-color:@nav-bg;
    width: 100%;
    align-items: center;
    border-bottom: .6rem solid @nav-b-border;
   
    @media @phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
    @media @tablet {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
    
    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;

        @media @phone {
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-right: 0%;
            text-align: center;
        }

        @media @tablet {
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-right: 0%;
            text-align: center;
        }

        a {
            font-size: 2rem;
            color: @nav-text;
            text-decoration: none;
            font-family: 'Jomolhari', serif;
            padding: 2% 0%;

            @media @phone {
                width: 100%;
                padding: 3.5% 2%;
                box-sizing: border-box;
                border-bottom: .25rem solid coral;
                text-align: center;
                font-size: 1.4rem;
            }

            @media @between {
                font-size: 2rem;
            }

            @media @tablet {
                width: 100%;
                padding: 3.5% 2%;
                box-sizing: border-box;
                border-bottom: .25rem solid coral;
                text-align: center;
                font-size: 1.6rem;
            }

            &:hover {
                text-decoration: none;
                color: @nav-hovtxt;
            }
        }
    }

    img {
        margin: 0% 0% 0% 4%;
        max-width: 6%;

        @media @phone {
            display: none;
        }
        @media @between {
            display: none;
        }
        @media @tablet {
            display: none;
        }
    }
}
   